@charset "UTF-8";
* {

    margin: 0;
    padding: 0;
    /* color: #F2DEBA; */
}

footer {
    min-width: 1300px;
}

a {
    color: black;
    text-decoration: none;
}

.foo_div {
    background-color: #FBC252;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2px 12px;
}

.intro ul {
	padding-left: 0;	
	padding: 4px 12px;
}
.intro ul > li {
    font-size: 12px;
    list-style: none;
    float: left;
    padding: 20px;
}

.us {
    font-size: 15px;
}

.foo_mail > i {
    font-size: 2px;
}

.site-title {
    font-size: 35px;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.site-title h2 {
    font-size: 28px;
}


.site select {
    font-size: 20px;
}