@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

header {
	min-width: 1300px;
}
.top {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.logo {
    /* float: left; */
    /* margin-left: 50px; */
    color: #3C79F5;
}

.search {
    position: relative;
    /* margin: auto; */
    width: 500px;
    /* margin-top: 20px; */
    /* margin-bottom: 15px; */
}

.search input {
    border-radius: 2rem;
    width: 100%;
    height: 40px;
    border-color: #0081C9;
    border-width: 1.5px;
    box-shadow: 2px 2px 2px 2px lightgray;
    font-size: medium;
    padding-left: .5rem;
}

.search input:focus {
    outline: none;
}

.search input[type=text]:-ms-clear{
    display: none;
}

.search button {
    position: absolute;
    right: 3px;
    top: 0;
    margin-top: 2.5px;
    bottom: 0;
    padding-right: 10px;
    width: 50px;
    height: 33px;
    background-color: #fff;
    /* background-color: red; */
    border-radius: 2rem;
    border: none;

}

.search button:hover {
    cursor: pointer;
}

.search button > img {
    width: 35px;
    padding: 3px;
}

.user-info {
    display: flex;
    gap: 2.5rem;
}

.sign-in {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
}

.sign-in i{
    font-size: 28px;
}

.sign-in > span {
    margin-top: .4rem;
    text-align: center;
}

.sign-out {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
}

.sign-out i{
    font-size: 28px;
}

.sign-out > span {
    margin-top: .4rem;
    text-align: center;
}


.sign-up {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
}

.sign-up i {
    font-size: 25px;
}
.sign-up > span {
    margin-top: .4rem;
    text-align: center;
}

.mypage {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
}

.mypage i {
    font-size: 25px;
}
.mypage > span {
    margin-top: .4rem;
    text-align: center;
}


.user-info i:hover {
    cursor: pointer;
}

ul li {
    list-style: none;
}

/* a {
    text-decoration: none;
    font-size: 20px;
} */

.nav_menu {
    width: 100%;
    height: 50px;
    background-color: #0081C9;
    line-height: 50px;
    text-align: center;
    border-radius: 0.5rem;
}

.nav_menu > ul > li {
    padding-left: 0;
    width: 300px;
    position: relative;
    align-items: center;
    display: inline-block;
    position: relative;
    border-right: 1px solid rgba(0,0,0,0.15);
}

.nav_menu > ul > li:nth-child(1) {
	border-left: 1px solid rgba(0,0,0,0.15);
}

.nav_menu > ul > li > a {
    color: #F7F5EB;
}

.nav_menu > ul > li > ul {
    width: 250px;
   	padding-left: 0;
    position: absolute;
    background-color: #0081C9;
	margin-left: 20px;
	opacity: 0;
	visibility: hidden;
}


.nav_menu > ul > li:hover > ul {
	opacity: 1;
	visibility: visible;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0px 10px 10px;
    opacity: 90%;
    transition: 0.2s all ease;
}

.nav_menu > ul > li > ul > li > a {
    font-size: 17px;
    color : #F7F5EB;
}

.nav_menu > ul > li > ul > li {
	padding-left:0;
}

.nav_menu > ul > li > ul > li:hover {
    background-color: #82AAE3;
    transition: all 0.5s ease;
    opacity: 90%
    
}

.nav_menu > ul > li > ul > li:hover:last-child {
    background-color: #82AAE3;
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0px 10px 10px;
}

.navbar__toogleBtn {
    position: absolute;
    right: 2px;
    font-size: 20px;
    color: black;
    display: none ;
}

/* 반응형 웹 */
/* @media screen and (max-width: 655px) {
    
    .nav_menu {
        display: none;
    }
    .user-info{
        display: none;
    }
    .navbar__toogleBtn {
        display: block;
    }
    .top {
        justify-content: center;
    }
    
} */