@charset "UTF-8";

        #wrap {
            width: 1400px;
            margin: 0 auto;
        }
        #header {}
        #nav {}
        #content1 {
            width: 600px;
            float: left;
            
        }
        #content2{
        	width: 700px;
         	float: right;
        }
     
        #content3{
        }
        #content_bbs { 
        
 }
        #content_news {}
        #footer {}
