<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//batis.apache.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 별명을 지어서 사용 -->
   <typeAliases>
      <typeAlias type="com.multi.cdb.bbs.BbsVO" alias="BbsVO"></typeAlias>
      <typeAlias type="com.multi.cdb.bbs.ReplyVO" alias="ReplyVO"></typeAlias>
      <typeAlias type="com.multi.cdb.bbs.NewsVO" alias="NewsVO"></typeAlias>
      <typeAlias type="com.multi.cdb.yPolicy.YPolicyVO" alias="YPolicyVO"></typeAlias>
      <typeAlias type="com.multi.cdb.bbs.BbsfilterVO" alias="BbsfilterVO"></typeAlias>
      <typeAlias type="com.multi.cdb.bbs.NewsfilterVO" alias="NewsfilterVO"></typeAlias>
      <typeAlias type="com.multi.cdb.mainfunction.filtertextVO" alias="filtertextVO"></typeAlias>
      <typeAlias type="com.multi.cdb.job.JobVO" alias="JobVO"></typeAlias>
   </typeAliases>

	<mappers>
		<!-- SQL문 정의하는 파일들의 목록을 지정. -->

		<mapper resource="mapper/mainfunctionMapper.xml" />
	</mappers>
</configuration>