<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//batis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="function">
	<!-- "yp" 정책 / 정책명 : YP_NAME "borrow" 임대주택 /공고명 : rhdrhaud "buy" 분양주택 /공고명 
		: BY_PBNAME "recru" 일자리 / 채용제목 : job_title "bbs" 게시물 /게시물 제목 : bbs_title 
		"news" 뉴스/ 뉴스 제목 : title select 따로따로 -->

	<!-- BBS 검색 필터 내용, 제목 -->
	<select id="bbsfilter" parameterType="BbsfilterVO"
		resultType="BbsfilterVO">
		SELECT * FROM bbs
		where
		<if test="filter == 'bbs_contents'">
			bbs_contents like concat('%',#{filtertext},'%')
		</if>
		<if test="filter == 'bbs_title'">
			bbs_title like concat('%',#{filtertext},'%')
		</if>

	</select>
	<!-- news 검색 필터 제목 -->
	<select id="newsfilter" parameterType="NewsfilterVO"
		resultType="NewsfilterVO">
		SELECT * FROM r_news
		where title like
		concat('%',#{filtertext},'%')
	</select>

	<!-- 메인페이지 추천수에 따른 게시물 노출 -->
	<select id="bbslist" resultType="BbsVO">
		-- subquery, join
		select * from bbs,
		(select count(bbs_id) as c, bbs_Id
		from recommend
		group by bbs_Id
		order by c desc
		)bbs_id_table
		where
		bbs.bbs_Id = bbs_id_table.bbs_Id
		order by
		bbs_id_table.c desc
		LIMIT 5 <!-- 
			상위5개만 출력 -->
	</select>

	<!-- 최근 등록된 뉴스 상위5개 노출 -->
	<select id="newslist" resultType="NewsVO">
		SELECT * FROM r_news ORDER BY pubDate desc limit 5	 <!-- 상위5개만 출력 -->
	</select>
	
	<select id="joblist" resultType="JobVO">
		SELECT * FROM recruit ORDER BY job_regDt desc limit 5	 <!-- 상위5개만 출력 -->
	</select>

	<!-- 노출수가 많은 정책 16개 노출 -->
	<select id="YPlist" resultType="YPolicyVO">
		select * from yp order by YP_VIEW
		desc limit 16
	</select>

	<!-- 검색어 저장 -->
	<insert id="textcreate" parameterType="filtertextVO">
		insert into textrank
		values (null,
		#{filtertext})
	</insert>

	<!-- 검색어 순위 -->
	<select id="textranknum" resultType="filtertextVO">
		SELECT filtertext,
		COUNT(filtertext) FROM textrank
		GROUP BY filtertext
		HAVING COUNT(filtertext) > 1
		ORDER BY COUNT(filtertext) DESC
		limit 5
	</select>
	
	
</mapper>